{{>userheader}}

<style>
	@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

	body {
		background-color: #eee;
		font-family: 'Calibri', sans-serif !important;
	}

	.mt-100 {
		margin-top: 30px;

	}


	.card {
		margin-bottom: 30px;
		border: 0;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		letter-spacing: .5px;
		border-radius: 8px;
		-webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
		box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
	}

	.card .card-header {
		background-color: #fff;
		border-bottom: none;
		padding: 24px;
		border-bottom: 1px solid #f6f7fb;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.card-header:first-child {
		border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	}



	.card .card-body {
		padding: 30px;
		background-color: transparent;
	}

	.btn-primary,
	.btn-primary.disabled,
	.btn-primary:disabled {
		background-color: #4466f2 !important;
		border-color: #4466f2 !important;
	}
</style>


{{#if cartItems}}
<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shoping Cart
		</span>
	</div>
</div>

<!-- Shoping Cart -->

<form class="bg0 p-t-75 p-b-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2"></th>
								<th class="column-3">Price</th>
								<th class="column-4">Quantity</th>
								<th class="column-5">Total</th>
								<th class="column-5">Action</th>
							</tr>
							{{#each cartItems}}
							<tr class="table_row">

								<td class="column-1">
									<div class="how-itemcart1">
										<img src="/images/{{this.product.image.[0]}}" alt="IMG">
									</div>
								</td>
								<td class="column-2">{{this.product.name}}</td>
								<td id="price" class="column-3">Rs.{{this.product.price}}</td>
								<input type="hidden" name="productprice" value="{{this.product.price}}">
								<input type="hidden" name="productId" value="{{this.product._id}}">


								<td class="column-4">
									<div class="wrap-num-product flex-w m-l-auto m-r-0">
										<div class="p-3 cl8 hov-btn3 trans-04 flex-c-m"
											onclick="totalPrice('{{this.product._id}}','dec')">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>
										<input disabled="" id="{{this.product._id}}"
											class="mtext-104 cl3 txt-center num-product" type="number"
											name="num-product" value="{{this.quantity}}">
										<div class="p-3 cl8 hov-btn3 trans-04 flex-c-m"
											onclick="totalPrice('{{this.product._id}}','inc','{{this.product.stock}}')">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

								</td>

								<td>
									<span id="total" name="productTotal" class="column-5 px-5">{{calculateItemPrice
										this}}</span>
								</td>
								<td><a class=" btn btn-secondary" href="/remove?id={{this.product._id}}">Remove</a></td>




								</td>
							</tr>
							{{/each}}



						</table>
					</div>


				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Subtotal:
							</span>
						</div>

						<div class="size-209">
							<span id="cartTotal" class="mtext-110 cl2">
								{{cartTotal}}
							</span>
						</div>
					</div>
					<a href="/checkout"
						class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer text-white"
						style="text-decoration: none;">
						Proceed to Checkout
					</a>
				</div>
			</div>
		</div>
	</div>
</form>
{{else}}

<div class="container-fluid  mt-100">
	<div class="row">

		<div class="col-md-12">

			<div class="card">
				<div class="card-body cart">
					<div class="col-sm-12 empty-cart-cls text-center">
						<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
						<h3><strong>Your Cart is Empty</strong></h3>
						<h4>Add something to make me happy :)</h4>
						<a href="/product" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
							shopping</a>


					</div>
				</div>
			</div>


		</div>

	</div>

</div>

{{/if}}


<script>
	const totalPrice = async (id, act, stock) => {
		const elem = document.getElementById(id)
		console.log(elem.value)
		if (act === 'inc') {

			/*if (elem.value < stock) {
				elem.value = Number(elem.value) + 1;
			} */
			elem.value ? elem.value = Number(elem.value) + 1 : ''


		} else if (act === 'dec') {
			elem.value > 1 ? elem.value = Number(elem.value) - 1 : ''
		}

		let subTotal = 0
		let datas = []
		let length = document.getElementsByName('productTotal').length
		for (let i = 0; i < length; i++) {
			document.getElementsByName('productTotal')[i].innerText = Number(document.getElementsByName('num-product')[i].value) * Number(document.getElementsByName('productprice')[i].value)
			subTotal = subTotal + Number(document.getElementsByName('productTotal')[i].innerText)
			datas.push({
				id: document.getElementsByName('productId')[i].value,
				quantity: Number(document.getElementsByName('num-product')[i].value)
			})
		}
		document.getElementById('cartTotal').innerText = subTotal

		let data = await fetch('/update-cart', {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				datas
			})
		})
		let Data = await data.json()
	}

</script>

{{>userfooter}}