{{>userheader}}
<style>
    address {
        background-color: #f7f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 20px 0;
        padding: 20px;
    }

    address h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    address p {
        margin: 0;
        padding: 0;
    }

    .detail {
        background-color: #f4eeee;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 20px 0;
        padding: 20px;
    }

    .full {
        display: flex;

        margin-top: 25px;

            {
                {
                !-- text-align: center;
                --
            }
        }
    }

    .left {}

    .right {
        margin-left: 50px;
        margin-top: 25px;
    }

    .next {
        margin-top: 50px;
    }

    .table {
        border: 1px;
    }
</style>
<div class="container">
    <div>
        <address>
            <h6 style="font-weight: bold;">DELIVERY ADDRESS</h6>
            {{orderData.address.name}}<br>
            {{orderData.address.address1}}<br>
            {{orderData.address.city}}
            <br>
            {{orderData.address.state}} <br>
            {{orderData.address.mobile}}
        </address>
    </div>
    <div class="detail">
        <div style="width:fit-content;" class="ml-auto">
            {{#if (or (eq orderData.status "ordered") (eq orderData.status "shipped"))}}
            <button id="cancellbutton" class="btn btn-danger mx-2" onclick="cancelOrder('{{orderData._id}}')">Cancel
                Order</button>
            {{/if}}
            {{#if (eq orderData.status "delivered")}}
            <button id="returnbutton" class="btn btn-success mx-2" onclick="returnOrder('{{orderData._id}}')">Return
                Order</button>
            {{/if}}
            {{#if (noteq orderData.status "cancelled")}}
            {{!-- <button id="invoice" class="btn btn-secondary" onclick="invoice('{{orderData._id}}')">INVOICE</button> --}}
             <button id="invoice" class="btn btn-secondary" onclick="window.location.href='/invoice/{{orderData._id}}'">INVOICE</button>

            {{/if}}
        </div>

        <div class="right">
            <strong>ORDER ID: {{orderData.orderId}}</strong><br>
            <strong>ORDER DATE: {{orderData.orderDate}}</strong><br>
            <strong>ORDER BILL: Rs.{{orderData.orderBill}}</strong><br>
            <strong class="status" id="order-{{orderData._id}}-status">ORDER STATUS: {{orderData.status}}</strong>
        </div>
        <div class="full p-0 mx-2 ">
            <div class="w-75 p-0 ml-5 ">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th scope="col">PRODUCTS</th>
                            <th scope="col">IMAGE</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orderData.items}}
                        <tr>

                            <td>{{this.product.name}}</td>
                            <td> <img style="width: 100px;" src="/images/{{this.product.image.[0]}}"
                                    alt="{{this.product.name}}"></td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.product.price}}</td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p id="cancelMessage"></p>
</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    function cancelOrder(orderId) {
        swal({
            title: "Are you sure to cancel?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    fetch(`/orders/${orderId}/cancel`, { method: 'PUT' })
                        .then(response => response.json())
                        .then(updatedOrder => {
                            swal("Your order cancelled", {
                                icon: "success",
                            });
                            document.getElementById(`order-${orderId}-status`).innerHTML = "ORDER STATUS:" + `${updatedOrder.status}`
                            document.getElementById('cancellbutton').style.display = 'none'
                            document.getElementById('invoice').style.display = 'none'
                            document.getElementById('cancelMessage').innerHTML = '* Your refund will be credited to original payment mode with in 3-5 days.'

                        });
                } else {
                    swal("Your cancel aborted");
                }
            });
    }

    const returnOrder = async (orderId) => {
        swal({
            title: "Are you sure to return?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                fetch(`/orders/${orderId}/return`, { method: 'PUT' })
                    .then(response => response.json())
                    .then(updatedOrder => {
                        swal("Your return order placed!", {
                            icon: "success",
                        });
                        document.getElementById(`order-${orderId}-status`).innerHTML = "ORDER STATUS:" + `${updatedOrder.status}`
                        document.getElementById('returnbutton').style.display = 'none'

                    });
            } else {
                swal("Your return cancelled !");
            }
        });
    };




    {{!-- const invoice = async (orderId) => {

            console.log(orderId)
            fetch(`/invoice/${orderId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {

                    console.log(data);
                })

        .catch(error => {
    console.error('There was a problem fetching the invoice:', error);
  })
    }; --}}


</script>

{{>userfooter}}