{{>userheader}}
<style>
    .table {
    border-collapse: separate;
    border-spacing:0 20px;

}
.detail-button{

        background-color: #4f9bff;
        color: white;
        font-size: 16px;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

}
#header{
  font-weight: bolder;

}

</style>


<div class="container">

   <h5 id="header">Your Orders</h5>
    <div class="table-responsive" >

  <table class="table">
  <thead style="color:brown; size: 20px">

       <td><strong>ORDER ID</strong></td>
      <td><strong>DATE</strong></td>

      <td><strong>PAYMENT MODE</strong></td>
      <td><strong>TOTAL</strong></td>
      <td><strong>ACTION</strong></td>


    </thead>



 {{#each orderData}}

    <tbody>
    <tr>



       <td>{{this.orderId}}</td>
       <td>{{formatDate this.orderDate  "DD-MM-YYY"}}</td>
       <td>{{this.paymentMode}}</td>
       <td>{{this.orderBill}}</td>
       <td>
       {{!-- <button  class="detail-button"> <a href="/order-details"></a> VIEW DETAILS</button> --}}
       <a style="text-decoration: none;" class="detail-button" href="/order-details?id={{this._id}}">VIEW DETAILS</a>
</td>
  </tbody>

  {{/each}}




</table>


 <h5 id="header">Past Orders</h5>

  <table class="table">
  <thead style="color:brown; size: 20px">

       <td><strong>ORDER ID</strong></td>
      <td><strong>DATE</strong></td>

      <td><strong>PAYMENT MODE</strong></td>
      <td><strong>TOTAL</strong></td>
      <td><strong>ACTION</strong></td>


    </thead>



 {{#each pastOrder}}

    <tbody>
    <tr>



       <td>{{this.orderId}}</td>
       <td>{{formatDate this.orderDate  "DD-MM-YYY"}}</td>
       <td>{{this.paymentMode}}</td>
       <td>{{this.orderBill}}</td>
       <td>
       {{!-- <button  class="detail-button"> <a href="/order-details"></a> VIEW DETAILS</button> --}}
       <a style="text-decoration: none;" class="detail-button" href="/order-details?id={{this._id}}">VIEW DETAILS</a>
</td>
  </tbody>

  {{/each}}




</table>
</div>





</div>




{{>userfooter}}